 

.BaseContainer {
margin-left: auto;
padding-left: 15px;
margin-right: auto;
padding-right: 15px;
}

.FormContainer {
margin-top: 2em;
display: flex;
flex-direction: column;
align-items: center;
min-height: 300px;
justify-content: center;

}

.IntroductionContainer{
    width: 60%;
    height: 550px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 30px;
    background-color: rgb(169, 222, 253);

}

.Introduction{
    height: 550px;
    width: 40%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background: linear-gradient(rgb(55, 134, 252), rgb(4, 31, 184));
    padding: 30px;
    float:left;
    color: white;
    text-align: center;
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 500px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    
    transition: opacity 0.5s ease, transform 0.5s ease;
    float: right;
}

.Label {
color: black;
font-weight: bold;
margin-bottom: 10px;
text-transform: uppercase;
}

.InputField{
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 20px;
    border-radius: 20px;
    border-bottom-color:rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.InputField::placeholder{
    color: rgb(0, 0, 0);
}

.Button{
  padding: 6px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  height: 35px;
  border: none;
  border-radius: 20px;
  background: rgb(16, 89, 255);
  transition: all 0.3s ease;
  min-width: 30%;
}

.Button:hover{
    transform: translateY(-2px);
}

.ButtonContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  


/* width: ${props => props.width || null}; 
cursor: ${props => (props.disabled ? "default" : "pointer")};
  opacity: ${props => (props.disabled ? 0.4 : 1)}; */